.listItem {
  width: 100%;
}
.goodsNow{
  text-align: center;
  font-size: 23px;
  color: rgb(68, 43, 43);
  font-weight: 700;
}
.result{
    margin-bottom: 20px;
    font-size: 21px;
  color:rgb(68, 43, 43);
  text-shadow: 1px 2px 3px rgb(158, 148, 148) 
}
.costBtn{
  padding: 10px 17px;
  border-radius: 4px;
  border: 1px solid rgb(86, 181, 184);
  color:rgb(252, 247, 247);
  background: -webkit-linear-gradient(45deg, rgb(90, 137, 144) 21%, rgb(86, 181, 184));
  background: linear-gradient(45deg, rgb(90, 137, 144) 21%, rgb(86, 181, 184));
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin: 15px auto;
}
.costBtn:hover{
  background:rgb(252, 247, 247);
  color: rgb(86, 181, 184);
}


