.card {
  width: 310px;
  height: auto;
  margin: 1%;
  background-color: #fff;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 5px 7px 17px 0px rgb(34 60 80 / 84%);
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 5px 7px 17px -4px rgb(34 60 80 / 84%);
}

.blockImg {
  width: 100%;
  height: 278px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  text-align: center;
  color: #565553;
  margin: 7px 0 15px;
}

.text {
  font-size: 20px;
  color: #ba5a4d;
}

.button {
  position: absolute;
  bottom: 7px;
  right: 7px;
  background: -webkit-linear-gradient(45deg, rgb(90, 137, 144) 21%, rgb(86, 181, 184));
  background: linear-gradient(45deg, rgb(90, 137, 144) 21%, rgb(86, 181, 184));
  color: #fff;
  border: 1px solid rgb(86, 181, 184);
  font-size: 17px;
  border-radius: 4px;
  padding: 7px 15px;
  cursor: pointer;
}

.button:hover {
  background: #fff;
  color: rgb(86, 181, 184);
}

.cardBody {
  height: 100px;
}

.favorite {
  position: absolute;
  color: #f26880;
  cursor: pointer;
  font-size: 21px;
  bottom: 7px;
  right: 111px;
  padding: 7px 10px 3px;
  border: 1px solid #f26880;
  border-radius: 3px;
}

.favorite:hover {
  color: #e6a7b1;
}

.favorite:active {
  color: #d14159;
}